body {
    background: 'none';
    overflow: hidden;
  
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  div {
    margin: 0;
    padding: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: absolute;
    z-index: 0;
  }
  
#container {
  font-family: UnifrakturMaguntia;
  width: 22rem !important;
  height: 60%;
  max-height: 45rem;
  top: 50%;
  left: 50%;
  -webkit-perspective: 290rem;
  perspective: 290rem;
  transform: translate(-50%, -50%) rotateY(20deg);
  font-size: 1em !important;
}
  
  #container p {
    padding: 0 0.3rem 0 1rem;
  }
  
  #container hr {
    margin: 0 1rem 0 1rem;
  }
  
  .panel-node {
    width: 100%;
  }
  
  .panel-cutout {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  #content {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    overflow-y: scroll;
    height: 100%;
  }
  
  #content,
  .panel-content {
    background: #fefee0;
  }
  
  .panel-content {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .backface > * {
    opacity: 0.25;
  }
  
  #lorem {
    font-size: 7em;
    float: left;
    color: rgb(0, 225, 255);
    border: 1px solid black;
    margin-right: 5px;
  }
  
  #tree {
    float: right;
    width: 10em;
    height: 10em;
    border: 0px solid black;
    margin: 0 5px 0 2px;
  }
  .container {
    display: flex;
    flex-direction: row; /* Ensure items are laid out in a row */
    align-items: center; /* Adjust this as needed */
    justify-content: center;
    height: 100vh;
    overflow: hidden;
  
    height: auto; /* Keeps the aspect ratio of the image */
  }

/* Desktop media query */
@media (min-width: 1025px) {
  #container {
  width: 45% !important;
    height: 60% !important;
    max-height: 50rem !important;
    font-size: 1.1em !important;
    transform: translate(-50%, -50%) rotateY(20deg) !important;
  }
}

/* Tablet landscape media query */
@media (min-width: 769px) and (max-width: 1024px) and (max-height: 768px) {
  #container {
    width: 45% !important;
    height: 60vh;
    max-height: 35rem;
    font-size: 0.9em !important;
    transform: translate(-50%, -50%) rotateY(20deg);
  }
}
  
@media (max-width: 768px) {
  #container {
  width: 65% !important;
    height: 60vh;
    max-height: none;
    font-size: 1em !important;
    transform: translate(-50%, -50%) rotateY(20deg);
  }
}
    /* #lorem {
      font-size: 4em;
      width: 6em;
      height: 6em;
    }
  
    #tree {
      width: 6em;
      height: 6em;
    } */
  
  