@keyframes glitch {
  0% {
    clip-path: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
  }
  2%, 8% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
    transform: translate(calc(-1% * 5), 0);
  }
  6% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
    transform: translate(calc(1% * 5), 0);
  }
  9% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
    transform: translate(0, 0);
  }
  10% {
    clip-path: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
    transform: translate(calc(1% * 5), 0);
  }
  13% {
    clip-path: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
    transform: translate(0, 0);
  }
  14%, 21% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
    transform: translate(calc(1% * 5), 0);
  }
  25% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
    transform: translate(calc(1% * 5), 0);
  }
  30% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
    transform: translate(calc(-1% * 5), 0);
  }
  35%, 45% {
    clip-path: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
    transform: translate(calc(-1% * 5), 0);
  }
  40% {
    clip-path: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
    transform: translate(calc(1% * 5), 0);
  }
  50% {
    clip-path: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
    transform: translate(0, 0);
  }
  55% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
    transform: translate(calc(1% * 5), 0);
  }
  60% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
    transform: translate(0, 0);
  }
  31%, 61%, 100% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  }
}

.cybr-btn-wrapper {
  position: relative;
  height: 60px;
  width: 180px;
  margin: 3px;
}

.cybr-btn-wrapper.mobile {
  height: 50px;
  width: 140px;
}

.cybr-btn {
  --primary: #ff184c;
  --shadow-primary: #fded00;
  --color: white;
  --font-size: 14px;
  --shadow-primary-hue: 180;
  --shadow-secondary-hue: 60;
  --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
  --clip: polygon(11% 0, 95% 0, 100% 25%, 90% 90%, 95% 90%, 85% 90%, 85% 100%, 7% 100%, 0 80%);
  --border: 5px;
  --shimmy-distance: 5;
  
  color: var(--color);
  text-transform: uppercase;
  font-size: var(--font-size);
  letter-spacing: 3px;
  position: relative;
  font-weight: 900;
  width: 100%;
  height: 100%;
  line-height: 60px;
  text-align: center;
  transition: background 0.2s, font-size 0.3s;
  border: none;
  background: transparent;
  cursor: pointer;
  font-family: monospace;
  outline: none;
}

.mobile .cybr-btn {
  font-size: 12px;
  line-height: 50px;
}

.cybr-btn:hover {
  --primary: #cc133c;
  --font-size: 16px;
}

.mobile .cybr-btn:hover {
  --font-size: 14px;
}

.cybr-btn:active {
  --primary: #8B00FF;
  --shadow-primary: #00e572;
}

.cybr-btn:after, 
.cybr-btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: var(--clip);
  z-index: -1;
}

.cybr-btn:before {
  background: var(--shadow-primary);
  transform: translate(var(--border), 0);
}

.cybr-btn:after {
  background: var(--primary);
}

.cybr-btn__glitch {
  position: absolute;
  top: calc(var(--border) * -1);
  left: calc(var(--border) * -1);
  right: calc(var(--border) * -1);
  bottom: calc(var(--border) * -1);
  background: var(--shadow-primary);
  text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
  clip-path: var(--clip);
  animation: glitch 3s infinite;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  letter-spacing: 3px;
  font-size: var(--font-size);
}

.cybr-btn__glitch:before {
  content: '';
  position: absolute;
  top: calc(var(--border) * 1);
  right: calc(var(--border) * 1);
  bottom: calc(var(--border) * 1);
  left: calc(var(--border) * 1);
  clip-path: var(--clip);
  background: var(--primary);
  z-index: -1;
}

.cybr-btn:hover .cybr-btn__glitch {
  animation: glitch 2s infinite;
}

.cybr-label {
  background: var(--shadow-primary);
  color: #323232;
  font-size: 7px;
  font-weight: 700;
  letter-spacing: 1px;
  position: absolute;
  width: 24px;
  height: 10px;
  top: 0;
  left: 81%;
  line-height: 10px;
  text-align: center;
  font-family: monospace;
}